{name, "conc"}.
{description, "Concurrent Lists in Erlang"}.
{homepage, "http://dustin.github.com/2010/03/04/erlang-conc.html"}.
{url, {git, "https://github.com/nox/erl-conc.git", {branch, "rebarify"}}}.
{authors, ["Dustin Sallings <dustin@spy.net>"]}.
{license, "MIT", "LICENSE.txt"}.
{rebar_compatible, true}.
{install_command, "$AGNER_PACKAGE_REPO/install.sh"}.
